# Temp work dir
seafile-ignore.txt
.idea/
.vscode/
.pytest_cache/
__pycache__/

# Install info.
*.egg-info/

# Intermediate output files
Results/
Train/*.sh
Train/parameters/**/*.yaml

# NDA
Exp/
Exp

# Images
.png
.jpg
.jpeg
.bmp
.yuv
.rgb
.nv12
.pyc
